* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card {
    max-width: 384px;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0, 7%);
    border-radius: 20px;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 1);
    padding: 24px;
}

.card_text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card_img, .images {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}

.card_dop {
    background: hsl(47, 88%, 63%);
    width: 82px;
    height: 29px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card_author {
    display: flex;
    align-items: center;
    gap: 12px
}

.author {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.date, .title, .text, .name {
    line-height: 150%;
    letter-spacing: 0px;
}



.date, .name {
    font-size: 14px;
    color: hsl(0, 0%, 7%);
}

.date {
    font-weight: 500;
    display: block;
}

.name {
    font-weight: 800;
}

.title {
    font-size: 24px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.link {
    color: inherit;
    text-decoration: none;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.category {
    font-size: 14px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.link:hover {
    color: hsl(47, 88%, 63%);
}

@media (max-width: 375px) {
    .card {
        max-width: 328px;
    }

    .title {
        font-size: 20px
    }

    .text {
        font-size: 14px;
    }
}